# Folders
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extra

Practica_01/output/Prac01_1-2-3-4
Practica_01/output/Prac01_5
Practica_01/output/Prac01_6
Practica_01/output/Prac01_7
Practica_01/output/Prac01_8
Practica_01/output/Prac01_9
Practica_02/output/Prac02_1
